<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dbsqlite" connectionString="Data Source=.\MyProgDB\ExtAPI.db"/>
  </connectionStrings>
  <!--发布前在:属性===>Web==>启动操作==>特定页 修改为当前的asmx文件,
  配置下面节点 1
  <system.web>
    <compilation debug="true"/>
  </system.web>
  配置下面节点 2
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  -->
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>